<div class="shell">
  <main class="shell__content">
    <router-outlet />
  </main>

  <nav class="bottom-nav">
    @for (item of navItems; track item.path) {
      <a
        class="nav-item"
        [routerLink]="item.path"
        routerLinkActive="nav-item--active"
        [class.nav-item--sos]="item.icon === 'sos'"
        [class.nav-item--alert]="item.icon === 'sos' && hasAlert()"
      >
        <div class="nav-item__icon">
          @switch (item.icon) {
            @case ('home') {
              <svg width="22" height="22" viewBox="0 0 24 24" fill="currentColor">
                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
              </svg>
            }
            @case ('mic') {
              <svg width="22" height="22" viewBox="0 0 24 24" fill="currentColor">
                <path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/>
              </svg>
            }
            @case ('map') {
              <svg width="22" height="22" viewBox="0 0 24 24" fill="currentColor">
                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
              </svg>
            }
            @case ('sos') {
              <svg width="22" height="22" viewBox="0 0 24 24" fill="currentColor">
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
              </svg>
            }
          }
          @if (item.icon === 'sos' && hasAlert()) {
            <span class="nav-item__alert-dot"></span>
          }
        </div>
        <span class="nav-item__label">{{ item.label }}</span>
      </a>
    }
  </nav>
</div>
